@import '../../components/variables';

.mission-topinfo {
  border: none;
  margin-top: 2em;
  margin-bottom: 1em;
  display: flex;
  gap: 1em;
}
.member-list {
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  padding: 1em;
  fieldset {
    border: none;
  }
}
.field {
  display: flex;
  flex-direction: column;
  min-width: 11em;

  input,
  select {
    margin-top: 10px;
    padding: 5px;
    background: none;
    border: 1px solid $gray;
  }
}
.member {
  display: flex;
  gap: 1em;
  margin-top: 1em;
  border-bottom: 1px solid $bordergray;
  padding-bottom: 1em;
  position: relative;
  .remove-button {
    color: $gray;
    position: absolute;
    top: 40%;
    right: 10px;
  }
}
