@import '../variables';
nav {
  height: 65px;
  background-color: $white;
  border-bottom: 1px solid lightgray;
  .main-title {
    width: 100%;
    margin-left: 3rem;
    line-height: 63px;
  }
}
.layout {
  display: block;
  background-color: $bg-color;
  height: 100vh;
  position: relative;

  article {
    margin: auto;
    width: 80%;
    padding-top: 3rem;
  }
}
